---
layout: default
title: Home
---

</div>
</div>

<section class="intro">
    <div class="wrapintro">
        <h1>Ammar Shah</h1>
        <h2 class="lead">Karachi-based Software Engineering student. <a href="{{ site.baseurl }}/i-talk" target="_blank">I love to talk(& wirte)</a>, build brands at <a href="http://alafdigital.com/" target="_blank">ALAF Digital</a>, <a target="_blank" href="http://code.ammarshah.com/">design software solutions</a> and a good party every now and then</h2>
        <a href="https://www.instagram.com/ammaralishahk/" target="_blank" class="btn">Let's be friends!</a>
    </div>
</section>

<div class="container">

    <div class="main-content">

        <!-- Featured
        ================================================== -->
        <section class="featured-posts">

            <div class="section-title">
                <h2><span>Featured</span></h2>
            </div>

            <div class="row listfeaturedtag">

            {% for post in site.posts %}

                {% if post.featured == true %}

                    {% include featuredbox.html %}

                {% endif %}

            {% endfor %}

            </div>

        </section>

        <!-- Posts Index
        ================================================== -->
         {% if paginator.previous_page %}
                {% if paginator.previous_page > 0 %}
                 <div id="jumptopageof"></div>
        {% endif %}
        {% endif %}

        <section class="recent-posts row" id="postsStart">

            <div class="col-sm-4">
                {% include sidebar.html %}
            </div>

            <div class="col-sm-8">

                <div class="section-title">
                    <h2><span>All Stories</span></h2>
                </div>

                <div class="masonrygrid row listrecent">

                    {% for post in paginator.posts %}


                        {% include postbox.html %}


                    {% endfor %}

                </div>

                <!-- Pagination -->
                <div class="bottompagination">

                    <span class="navigation" role="navigation">

                        {% include pagination.html %}

                    </span>

                </div>

            </div>

        </section>
