svg { 
    width: 500px;
    height: 292px; 
}

.segment_red { 
    fill:#EF3B39; 
}

.segment_red:hover { 
    fill:#ba0f11; 
}

.segment_green { 
    fill: #CCDB2A;
}

.segment_green:hover {
    fill: #aab720;
}

.segment_gold {
    fill: #FFCC67;
}

.segment_gold:hover {
    fill: #e4a739;
}

.segment_aqua {
    fill: #48C2C5;
}

.aqua_pieces:hover .segment_aqua{
    fill: #3c9497; 
}

.aqua_pieces .aqua_over {
    display: none;
}

.aqua_pieces:hover .aqua_over{
    display: inherit;
}

.aqua_over * {
    fill:#3c9497;
}

.aqua_over text {
    font-family: Arial;
    font-size: 8px;
    text-anchor: end;
}