body {
  background-color: #FFF;
  font: 14px sans-serif;
  font-size: small;
  text-align: center;
  color: #444444;
}

/*******************************************************************************************************************************************/

.container{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	opacity: .9;
	padding: 30px;
}

/*******************************************************************************************************************************************/

.nav {
    display: inline;
    padding: 7px;
}

.nav > a:link {
    color: grey;
    text-decoration: none;
}

.nav > a:visited {
    color: grey;
}

.nav >a:hover {
    color: black;
}

.nav > a:active {
    color: black;
}

/*******************************************************************************************************************************************/

.name {
    display: inline-block;
    text-decoration: none;
    color: red;
}

.name > a:link {
    color: red;
    text-decoration: none;
}

.name > a:visited {
    color: red;
}

.name >a:hover {
    color: black;
}

.name > a:active {
    color: black;
}

/*******************************************************************************************************************************************/

.intro {
  font-size: 24px;
  line-height: 120%; 
  font-family:sans-serif; 
  color: #666;
}

.intro a {
  color: #07c;
}

.intro a:link {
   text-decoration: none;
}

.intro a:hover {
  text-decoration: underline;
}

/********************************************************************************************************************************************/
.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}